.blog-cover-img{
    width: 100%;
    border-radius: 8px;
}
.blog-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.blog-info{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
   margin-bottom: 20px;
}
.hoverEffectBookmark{
    color: rgb(158, 157, 157);
}
.hoverEffectBookmark:hover{
    color: rgb(90, 88, 88);
}
.hoverEffectRead:hover{
font-weight: 500;
}